#container{
    width: 800px;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto; 
    /* box-shadow: -3px 3px 5px rgb(127, 127, 127); */
    border-radius: 10px;
}
#contenus{
    /* background-color: rgba(227, 253, 255, 0.38); */
    padding: 0;
}

/* #about p, #contenus p{ */
    /* padding-left: 20px; } */

#header{
    padding: 20px;
    background-color: rgb(161, 3, 33);
    color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 3px black;
}
#photo{
    width: 180px;
    height: 200px;
    /* margin-right: 10px; */
    border-radius: 100%;
    display: inline;
    float: right;
    box-shadow: -3px 3px 5px rgb(127, 127, 127);
}
#sum{
    display: inline;
    background-color: green;
}
#fullname{
    font-family: Georgia Serif;
    font-size: 36pt;
    margin-bottom: 0px;
}
#jobtitle{
    color: rgba(255, 193, 127, 0.99);
    font-family: monospace;
    font-size: 1.8em;
    margin-bottom: 0px;
}
#slogan{
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);;
}

.headline{
    font-family: "Trebuchet MS";
    font-size: 1.8em;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}



.centercontent{
    text-align: center;
}

.card{
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* padding: 10px; */
    background-color: orange;
    box-shadow: -3px 3px 5px rgb(127, 127, 127);
    text-align: center;
    color: white;
}
.period {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    border-bottom: 2px solid rgb(86, 86, 86);
    padding-top: 18px;
    color: rgba(55, 55, 55, 0.69);
    font-size: 14pt;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 2px 3px black;
    background-color: rgba(0, 0, 0, 0.29);

}
.round{
    width: 15px;
    height: 15px;
    border-radius: 0px 0px 100% 100%;
    background-color: rgb(86, 86, 86);
    margin: -1px auto 0px auto;
    box-shadow: 0px 2px 3px black;
}
.post{
    margin-bottom: 0px;
}
.company{
    font-style: italic;
    color: rgb(215, 215, 215);
    margin-top: 5px;
}

#exp1 {
    /* background-color:  rgb(126, 161, 54); */
    background-color: rgb(180, 183, 56);
}
#exp2 {
    background-color: #3da9cd;
}
#exp3 {
    background-color: #d1119e;
}
.cont-foot{
    /* float: right; */
    margin-right: 0px;
    margin-left: auto;
    width: 50%;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#pagefoot{
    height: 80px;
    border-top: 1px solid gray;
    text-align: center;
    background: rgb(56, 111, 101);
    color: white;
    font-style: italic;
    border-radius: 0px 30px 0px 30px;
}
#foot-contact li{
    display: inline;
    border-left: 1px solid gray;
    padding: 0px 20px 0px 20px;
    list-style-type: none;
}
#foot-contact a{
    color:rgb(98, 208, 206);
}
svg {
  max-width: 6em;
  text-shadow: 2px 3px 5px black;
}

.banner{
    height: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 10px; */
    /* background-color: green; */
    /* color: orange; */
    text-align: center;
}
.techlogo li{
   display: inline-block; 
   font-size: 3em;
   margin-right: 7pt;
}
.btn{
    width: 100px;
    padding: 2px 2px 2px 20px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(239, 153, 19);
    border-radius: 0px 30px 0px 0px;
    /* box-shadow: 2px -2px 2px gray; */
    color: white;
    text-align: left;
    font-family: "Verdana";
}
.newpage{
    margin-bottom: 200px;
}